a, a:visited {
  text-decoration: none;
  color: black;
}



/* --------------------------------- */

.menuBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 64px;
  flex-shrink: 0;
  background: #b8e8f6;
  color: black;
  overflow-x: auto; 
}

/* EAE3D4 */

.menuNavHeaders {
  font-size: 22px;
  font-family: "Kulim Park";
  font-weight: 400;
  padding-top: 19px;
  margin-left: 20px;
  min-width: 102px;
  flex-grow: 1;
}

/* --------------------------------- */

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: -30px;
}

.aboutMeContainer {
  display: flex;
  width: 95vw;
  /* min-width: 1000px; */
  /* height: 323px; */
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 8vw;
  margin-left: 50px;
  margin-right: 50px;
  flex-grow: 1;
} 

.imageTD {
  width: 60px;
}

td {
  width: 40vw;
  text-align: left;
}

/* .aboutMeListContainer {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -90px;
  margin-top: 0px;
}

.aboutMeImageContainer {
  display: flex;
  width: 63px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
} */

.aboutMeText {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  font-family: Lato;
  text-align: left;
  margin-bottom: 20px;
}

.aboutMeImages {
  height: 40px;
}

/* --------------------------------- */

.headingContainer {
  display: inline-flex;
  align-items: center;
  gap: 19px;
  margin-top: 30px;
  margin-left: 30px;
}

.h1 {
  font-family: Lato;
  font-size: 42px;
  font-weight: 700;
}

.line {
  display: inline-flex;
  width: 35vw;
  height: 1px; 
  background-color: #000;
}

/* --------------------------------- */

.portfolioHeaderContainer {
  width: 270px;
  height: 290px;
  display: flex;
  border-radius: 12px;
  background: rgba(178, 255, 229, 0.886);
  font-family: "Kulim Park";
  font-size: 26px;
  font-weight: 400;

  justify-content: center;
  align-items: center;
  padding: 10px 48px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.maxWidth {
  width: 130px;
  justify-content: center;
  align-items: center;
}

.box {
  justify-content: flex-start;
  display: flex; 
  align-items: center;
  padding-left: 50px;
  overflow-x: auto; 
  margin-bottom: 30px;
}

.porfolioItemContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.portoflioImage {
  height: 260px;
  padding-left: 10px;
  padding-right: 10px;
}

/* --------------------------------- */

/* CONNECT BUTTON */

.connectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding-bottom: 50px;
}

.connectImages {
  display: flex;
  width: 80px;
  height: 80px;
}

.connectImageCaption {
  display: flex;
  margin-left: 10px;
  font-family: "PT Sans Caption";
  align-items: center;

}

.connectCaptionContainer{
  display: flex;
}

.connectCaptionContainer:hover {
  cursor: pointer;
}

/* --------------------------------- */

.App {
  background: rgb(255, 255, 250);
  text-align: center;
  color: black;
}

/* ---- */
.alsoHeaderContainer {
  width: 280px;
  height: 200px;
  display: flex;
  border-radius: 12px;
  background: rgba(220, 255, 218, 0.886);
  font-family: "Kulim Park";
  font-size: 22px;
  font-weight: 400;

  justify-content: center;
  align-items: center;
  padding: 10px 48px;
  box-sizing: border-box;
}

.alsoMaxWidth {
  width: 150px;
  justify-content: center;
  align-items: center;
}

.alsoItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.alsoImage {
  max-height: 190px;
  max-width: 300px;
  padding-left: 35px;
  margin-right: 10px;
}

.alsoItemBox {
  display: flex;
  align-items: center;
  justify-content: left;
}